MYSQL_ROOT_PASSWORD=${your mysql password}
MYSQL_ROOT_HOST=%
MYSQL_DIR=./mysql
MYSQL_DATABASE=g2rain_business
REDIS_DIR=./redis
REDIS_PASSWORD=${your redis password}
REGISTRY_SERVER=g2rain-business-registry-server
CONFIG_SERVER=g2rain-business-config-server
SPRING_PROFILES_ACTIVE=docker
HOST_IP=10.115.223.100
ALIYUN_OSS_CLIENT_ENDPOINT=${your aliyun oss endpoint}
ALIYUN_OSS_CLIENT_ACCESSKEYID=${your aliyun oss accessKeyId}
ALIYUN_OSS_CLIENT_ACCESSKEYSECRET=${your aliyun oss accessKeysecret}
ALIYUN_OSS_CLIENT_BUCKETNAME=${your aliyun oss buckname}

