<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<turboFilter class="ch.qos.logback.classic.turbo.MDCFilter">
    	<MDCKey>DEBUG_LOG</MDCKey>
    	<Value>ALL</Value>
    	<OnMatch>ACCEPT</OnMatch>
  	</turboFilter>
	<springProperty scope="context" name="SpringApplicationName" source="spring.application.name" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>
	<springProfile name="dev">
		<root level="INFO">
			<appender-ref ref="STDOUT" />
	 	</root>
 	</springProfile>
 	<springProfile name="docker">
		<root level="INFO">
			<appender-ref ref="STDOUT" />
	 	</root>
 	</springProfile>
</configuration>